#about {
    background-color: var(--orange); 
    padding: 4vw;
    text-align: center;
}

#about h2, #about p, #about h3 {
    margin: 0.5rem 0;
}

#about ul {
    list-style-position: inside;
}

.work-history ul ul ul {
    list-style-type: none;
}

.study-history ul ul {
    list-style-type: none;
}

.web-fundamentals {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4vw;
}

#about a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #FAA300;
    padding: 1vh;
}

@media only screen and (min-width: 768px) {
    #about {
        padding: 3vw 3vw 3vw 3vw;
    }
    #about article {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: start;
    }
}

@media only screen and (min-width: 992px) {
    #about {
        padding: 1vw 1vw 1vw 1vw;
    }
    .web-fundamentals {
        margin-bottom: 2vw;
    }
}