/* blog section */
#blog {
    background-color: var(--blue); 
    padding: 4vw 0 4vw 0;
    text-align: center;
}

/* post articles */
.post {
    width: 90vw;
    height: 45vh;
    display: inline-block;
}

/* post images */
.post img{
    max-width: 100%;
    height: auto;
}

/* blog text */
#blog h2, #blog p, #blog h3 {
    margin: 0.5rem 0;
}

/* tablet viewport */
@media only screen and (min-width: 768px) {
    #blog {
        padding: 3vw 0 0 0;
    }
    .post {
        width: 45vw;
        height: 45vh;
    }
    .post img {
        height: 250px;
    }
}

/* desktop viewport */
@media only screen and (min-width: 992px) {
    #blog {
        padding: 1vw 0 0 0;
    }
    .post {
        height: 40vw;
    }
    .post img {
        height: 600px;
    }
}