#blog {
    background-color: var(--blue); 
    padding: 5vw 0 5vw 0;
    text-align: center;
}

.post {
    width: 90vw;
    height: 60vh;
    display: inline-block;
}

.post img{
    max-width: 100%;
    height: auto;
}

#blog h2, #blog p, #blog h3 {
    margin: 0.5rem 0;
}

@media only screen and (min-width: 768px) {
    .post {
        width: 45vw;
        height: 60vh;
        display: inline-block;
    }
    .post img {
        height: 250px;
    }
    #blog {
        padding-bottom: 1vh;
    }
}

@media only screen and (min-width: 992px) {
    #home {
        padding: 3vw 0 3vw 0;
    }
}