/* contact section */
#contact {
    background-color: var(--orange); 
    padding: 1vw 0 1vw 0;
    text-align: center;
}

/* social media links icons */
#contact div {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
}

/* contact text */
#contact h2 {
    margin: 0.5rem 0;
}