#home {
    background-color: var(--blue); 
    padding: 8vw 0 5vw 0;
    text-align: center;
}

.profile-photo {
    max-width: 70%;
    height: auto; 
    border-radius: 50%;
}

#home h1, #home p {
    margin: 0.5rem 0;
}

@media only screen and (min-width: 768px) {
    #home {
        padding: 5vw 0 5vw 0;
    }
}

@media only screen and (min-width: 992px) {
    #home {
        padding: 3vw 0 3vw 0;
    }
}