main {
    background-color: var(--pink); 
    padding: 4vw;
    text-align: center;
}

main img {
    max-width: 100%;
    height: auto;
}

main h2, main p {
    margin: 0.5rem 0;
}

main ul {
    list-style-position: inside;
}