/* variables */
:root {
    --blue: #B3ECF1;
    --yellow: #FFA;
    --orange: #FFD689;
    --pink: #FAB1C9;
}

/* all elements */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inria Sans", sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
}

/* header image */
header img {
    max-width: 8vh;
}

/* navigation */
nav {
    position: sticky;
    top: 0;
    z-index: 100;
    text-align: center;
    background-color: var(--yellow);
}

/* navigation list */
nav ul li {
    display: inline;
    margin: 2vw;
}

/* navigation links */
nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
}

/* footer */
footer {
    background-color: var(--yellow);
    text-align: center;
    padding: 1vh;
}